.modau {
  background-image: url("anhphong.jpg");
  background-position: center;
  background-size: cover; /*bao phủ toàn màn hình*/
  padding: 10px 20px 250px 20px;
  color: #ff6f61;
  text-align: center;
  font-family: arial, sans-serif;
}
.ngang {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.khung {
  background: rgb(248, 247, 247);
  width: 100%;
  max-width: 700px;
  border-radius: 8px; /*bo góc vs bán kính*/
  overflow: hidden; /*hình ảnh bo góc theo*/
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid #0000;
  padding-bottom: 20px;
}
#test10,
#test11,
#test12 {
  padding: 10px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer; /*đổi con trỏ chuột*/
  font-weight: bold;
}
.cuoicung {
  background-color: rgb(43, 47, 61);
  padding: 40px 20px 50px 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: arial, sans-serif;
}
h4,
p,
ul,
a {
  font-size: 24px;
}
h2 {
  text-align: center;
  color: orangered;
  font-size: 40px;
}
h3 {
  color: orangered;
  font-size: 30px;
  text-align: center;
}
